# Merging The two datasets
Here we will merge both the datasets from the Flight data module and the Weather data module
1. First read both the files into a dataframe 
2. Then we will look at the columns
3. We shall check if the datasets have any empty values or not
4. We need to add a time column in the flight data that mactches the the time column in the weather data.
    1. More will be explained at that module
5. Finally we will merge the datasets and check if the columns have same number of rows and also if there are any kind of missing values

In [1]:
# We will need only pandas for this module
import pandas as pd

In [2]:
# let us look at the flight data
flight_data = pd.read_csv("Data/Flight_Data.csv")
flight_data.head()

,ArrDel15,ArrDelayMinutes,ArrTime,CRSArrTime,CRSDepTime,DayofMonth,DepDel15,DepDelayMinutes,DepTime,DestAirportID,FlightDate,Month,Origin,OriginAirportID,Quarter,Year
0,0.0,8.0,1610.0,1602,745,1,0.0,0.0,741.0,12478,2016-01-01,1,SEA,14747,1,2016
1,0.0,11.0,1613.0,1602,745,2,0.0,0.0,737.0,12478,2016-01-02,1,SEA,14747,1,2016
2,0.0,0.0,1547.0,1602,745,3,0.0,0.0,743.0,12478,2016-01-03,1,SEA,14747,1,2016
3,0.0,0.0,1551.0,1602,745,4,0.0,0.0,737.0,12478,2016-01-04,1,SEA,14747,1,2016
4,0.0,0.0,1524.0,1527,710,5,0.0,0.0,708.0,12478,2016-01-05,1,SEA,14747,1,2016

In [3]:
# Now the shape of the flight data
flight_data.shape

(1873922, 16)

In [4]:
# We shall see the columns of the flight data
flight_data.columns

Index(['ArrDel15', 'ArrDelayMinutes', 'ArrTime', 'CRSArrTime', 'CRSDepTime',
       'DayofMonth', 'DepDel15', 'DepDelayMinutes', 'DepTime', 'DestAirportID',
       'FlightDate', 'Month', 'Origin', 'OriginAirportID', 'Quarter', 'Year'],
      dtype='object')

In [5]:
# Let us repeat the above steps for the weather data too
weather_data = pd.read_csv('Data/Flight_Weather_data.csv')
weather_data.head()

,Unnamed: 0,windspeedKmph,winddirDegree,weatherCode,precipMM,visibility,pressure,cloudcover,DewPointF,WindGustKmph,tempF,WindChillF,humidity,time,date,airport
0,0,15,319,122,0.0,10,1026,86,33,23,40,34,76,0,2016-01-02,ATL
1,1,16,320,122,0.0,10,1026,81,33,23,39,33,78,100,2016-01-02,ATL
2,2,16,321,116,0.0,10,1026,76,33,23,38,32,80,200,2016-01-02,ATL
3,3,16,322,116,0.0,10,1026,71,33,23,38,31,83,300,2016-01-02,ATL
4,4,16,319,116,0.0,10,1026,79,32,23,37,30,83,400,2016-01-02,ATL

In [8]:
weather_data.shape

(263112, 16)

In [6]:
weather_data.columns

Index(['Unnamed: 0', 'windspeedKmph', 'winddirDegree', 'weatherCode',
       'precipMM', 'visibility', 'pressure', 'cloudcover', 'DewPointF',
       'WindGustKmph', 'tempF', 'WindChillF', 'humidity', 'time', 'date',
       'airport'],
      dtype='object')

## Time column for flight data
As you can see in the columns there is no departure time for the flight data and it is there for the weather data. We wish to merge them on those columns, so we must add a departure column to the flight data too.

In [9]:
# Creating an empty list that will act as the series we will add to the dataframe
time_list = []
# Iterating through the flight data series CRSDepTime
for i in flight_data["CRSDepTime"]:
    # Converting time to int for logical comparision
    i = int(i)
    # Dividing by 100 and saving to new variable
    x = i%100
    # If it is less than 30w e just subtract it from the time
    if(x<30) :
        i = i - x
    # If it is greater than 30 we subtract it from 100  and add
    elif(x>=30) :
        i = i+(100 - x)
    # If it is 2400 we just make it 0
    if(i == 2400):
        i = 0
    # Appending to the series
    time_list.append(i)
flight_data['DeptTime'] = time_list

In [10]:
# Merging the data on the airport departure time and date
df = pd.merge(flight_data,weather_data,
              how = 'inner',
              left_on = ['Origin','DeptTime', 'FlightDate'],
              right_on = ['airport','time', 'date'])

In [11]:
# displaying the shape of the dataframe
df.shape

(1873584, 33)

In [12]:
df.head()

,ArrDel15,ArrDelayMinutes,ArrTime,CRSArrTime,CRSDepTime,DayofMonth,DepDel15,DepDelayMinutes,DepTime,DestAirportID,...,pressure,cloudcover,DewPointF,WindGustKmph,tempF,WindChillF,humidity,time,date,airport
0,0.0,8.0,1610.0,1602,745,1,0.0,0.0,741.0,12478,...,1030,0,23,8,34,29,65,800,2016-01-01,SEA
1,1.0,33.0,1237.0,1204,820,1,0.0,1.0,821.0,14107,...,1030,0,23,8,34,29,65,800,2016-01-01,SEA
2,0.0,0.0,1138.0,1143,759,1,0.0,0.0,754.0,11292,...,1030,0,23,8,34,29,65,800,2016-01-01,SEA
3,0.0,10.0,1401.0,1351,738,1,0.0,2.0,740.0,12266,...,1030,0,23,8,34,29,65,800,2016-01-01,SEA
4,0.0,0.0,1524.0,1527,745,1,0.0,0.0,742.0,10397,...,1030,0,23,8,34,29,65,800,2016-01-01,SEA

In [13]:
# saving it to a new file
df.to_csv('Data/Final_data.csv')

In [14]:
# Reading the final dataframe file
import pandas as pd
df = pd.read_csv('Data/Final_data.csv', index_col = 0)

C:\Users\HP\anaconda3\lib\site-packages\numpy\lib\arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [15]:
# checking if all features have same number of rows
df.count()

ArrDel15           1873584
ArrDelayMinutes    1873584
ArrTime            1873584
CRSArrTime         1873584
CRSDepTime         1873584
DayofMonth         1873584
DepDel15           1873584
DepDelayMinutes    1873584
DepTime            1873584
DestAirportID      1873584
FlightDate         1873584
Month              1873584
Origin             1873584
OriginAirportID    1873584
Quarter            1873584
Year               1873584
DeptTime           1873584
Unnamed: 0.1       1873584
windspeedKmph      1873584
winddirDegree      1873584
weatherCode        1873584
precipMM           1873584
visibility         1873584
pressure           1873584
cloudcover         1873584
DewPointF          1873584
WindGustKmph       1873584
tempF              1873584
WindChillF         1873584
humidity           1873584
time               1873584
date               1873584
airport            1873584
dtype: int64